<%- include("../public/nav.ejs") -%>

<style>
  body {
    background-image: url("/img/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Recuperar Contraseña</h3>
        </div>
        <div class="card-body">
          <form
            class="form"
            id="recover"
            role="form"
            action="/recover"
            method="post"
          >
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
            </div>

            <button
              type="button"
              class="g-recaptcha btn btn-success btn-lg btn-block"
              data-sitekey="6LfHqEopAAAAAK2ujG5Iqhm7Rsx-j7noIyS12Wl-"
              data-callback="onSubmit"
              data-action="submit"
            >
              Enviar Correo de Recuperación
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function onSubmit(token) {
    const email = document.getElementById('email').value;

    fetch("/reset", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ email }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Success:", data);
        
        // Aquí puedes redirigir al usuario a una página de éxito o mostrar un mensaje
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }
</script>
<%- include("../elementosGlobales/footer.ejs") -%>