<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Inicio de Sesión</title>

    <meta property="og:title" content="nilo | tienda de maquillaje" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="https://javier-camejo.onrender.com/" />
    <meta property="og:image" content="https://javier-camejo.onrender.com/logo.png" />
    <meta property="og:description" content="tienda de maquillaje femenino" />
    <meta property="og:site_name" content="nilo" />
    <meta property="product:price:amount" content="49.99" />
    <meta property="product:price:currency" content="USD" />

   
  </head>
  <body>
